body {
    background-color: #001836;
}

.login-card {
    width: 400px;
}

.logo-grupo-index{
    align-items: center;
    width: 160px; 
    height: auto;
    position: absolute;
    top: 20px;
    left: 110px;
}
